@page "/dailyreport"
@using WebApp.Data.DAL.ViewModels
@inject HttpClient Http

<h3>Daily Report</h3>

<EditForm Model="this">
    <p>Select date:</p>
    <InputDate @bind-Value="selectedDate" />
</EditForm> 
<button @onclick="GetReport">Get Daily Report</button>

@if (report == null)
{
    <p><em>Choose a date to get the report...</em></p>
}
else
{
    <h3>Report for @updatedDate</h3>
    <p>Total Income: @report.Income</p>
    <p>Total Expenses: @report.Expenses</p>
    <h3>Transactions:</h3>
    <ul>
        @foreach (var transaction in report.Transactions)
        {
            <li>@transaction.Description: @transaction.Amount (Type: @transaction.TransactionType.Name)</li>
        }
    </ul>
}

@code {
    private DateTime selectedDate = DateTime.Today;
    private FinanceReportViewModel report;
    private DateTime updatedDate = DateTime.Now;

    private async Task GetReport()
    {
        var result = await Http.GetAsync($"https://localhost:7271/api/Transactions/DailyReport/{selectedDate:s}");

        if (result.IsSuccessStatusCode)
        {
            updatedDate = selectedDate;
            report = await result.Content.ReadFromJsonAsync<FinanceReportViewModel>();
        }
    }
}
