@page "/transactions"
@using WebApp.DAL.Models.WebApp.DAL.Models;
@using WebApp.Data.DAL.Models;
@using WebApp.Data.DAL.ViewModels;
@inject HttpClient Http

<h3>Transactions</h3>

@if (transactions == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @if (isEditing)
    {
        <EditForm Model="editingTransactionViewModel" OnValidSubmit="@UpdateTransaction">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <InputText id="date" @bind-Value="editingTransactionViewModel.Date" placeholder="Date" />
            <InputNumber id="type" @bind-Value="editingTransactionViewModel.Type" placeholder="Type"></InputNumber>
            <InputNumber id="amount" @bind-Value="editingTransactionViewModel.Amount" placeholder="Amount"></InputNumber>
            <InputText id="desc" @bind-Value="editingTransactionViewModel.Description" placeholder="Description"></InputText>

            <button type="submit">Save Changes</button>
            <button type="button" @onclick="@(() => isEditing = false)">Cancel</button>
        </EditForm>
    }

    <EditForm Model="newTransactionViewModel" OnValidSubmit="@AddTransaction">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <InputText id="date" @bind-Value="newTransactionViewModel.Date" placeholder="Date" />
        <InputNumber id="type" @bind-Value="newTransactionViewModel.Type" placeholder="Type"></InputNumber>
        <InputNumber id="amount" @bind-Value="newTransactionViewModel.Amount" placeholder="Amount"></InputNumber>
        <InputText id="desc" @bind-Value="newTransactionViewModel.Description" placeholder="Description"></InputText>

        <button type="submit">Add New Transaction</button>
    </EditForm>

    <table class='table'>
        <thead>
            <tr>
                <th>ID</th>
                <th>Amount</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var transaction in transactions)
            {
                <tr>
                    <td>@transaction.TransactionId</td>
                    <td>@transaction.Amount</td>
                    <td>@transaction.Date</td>
                    <td>
                        <button @onclick="() => StartEditingTransaction(transaction.TransactionId)">Edit</button> 
                        <button @onclick="() => DeleteTransaction(transaction.TransactionId)">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Transaction[] transactions;
    private TransactionViewModel newTransactionViewModel = new TransactionViewModel();
    private Transaction newTransaction = new Transaction();
    TransactionType transactionType = new TransactionType();
    private bool isEditing = false;
    private TransactionViewModel editingTransactionViewModel;

    protected override async Task OnInitializedAsync()
    {
        transactions = await Http.GetFromJsonAsync<Transaction[]>("https://localhost:7271/api/Transactions/getAllTransactions");
    }

    private void StartEditingTransaction(int id)
    {
        var transaction = transactions.First(t => t.TransactionId == id);
        editingTransactionViewModel = new TransactionViewModel
            {
                TransactionId = transaction.TransactionId,
                Type = transaction.Type,
                Amount = (float)transaction.Amount,
                Date = transaction.Date.ToString(),
                Description = transaction.Description,
                TransactionType = transaction.TransactionType
            };
        isEditing = true;
    }

    private async Task AddTransaction()
    {
        try
        {
            transactionType.Name = "";
            transactionType.Category = "";
            transactionType.Id = 0;
            newTransactionViewModel.TransactionType = transactionType;
            HttpResponseMessage response = await Http.PostAsJsonAsync("https://localhost:7271/api/Transactions/addTransaction", newTransactionViewModel);
            response.EnsureSuccessStatusCode(); 

            await OnInitializedAsync(); 
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error adding transaction: {ex.Message}");
        }
    }

    private async Task UpdateTransaction()
    {
        try
        {
            HttpResponseMessage response = await Http.PutAsJsonAsync($"https://localhost:7271/api/Transactions/editTransaction/{editingTransactionViewModel.TransactionId}", editingTransactionViewModel);
            response.EnsureSuccessStatusCode();

            await OnInitializedAsync();
            isEditing = false; // Hide the Edit Form
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error updating transaction: {ex.Message}");
        }
    }

    private async Task DeleteTransaction(int id)
    {
        await Http.DeleteAsync($"https://localhost:7271/api/Transactions/deleteTransaction/{id}");
        await OnInitializedAsync();
    }
}